[Desktop Entry]
Type=Application
Name=Displays
GenericName=nwg-displays
Comment=nwg-displays — manage monitor layout and resolution
Exec=sweetpotatos-displays
TryExec=sweetpotatos-displays
Icon=video-display
Terminal=false
StartupNotify=true
Categories=System;Settings;
Keywords=nwg;nwg-displays;display;monitor;resolution;output;kanshi;
